<!-- App Main Dashboard Starts Here-->
<%- include('partials/app-header') %>


<!--Invoice Template-->
<section class = "full-width">
    <div class="invoice-box columns eight">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <button data-href="#" class = "dashboard_link" onclick = "backToDashboard()"><span class="dashboard_arrow">&#10140;</span>Back to Dashbaord</button>
                            <td class="title">
                                INVOICE
                            </td>
    
                            <td>
                                Invoice <%= draftOrder.order_name %><br />
                                 <%= invoiceDate %><br />
                                <!-- Due: February 1, 2023 -->
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
    
            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                <h3><%= storeName %></h3>
                            </td>
    
                            <!-- <td>
                                Acme Corp.<br />
                                John Doe<br />
                                john@example.com
                            </td> -->
                        </tr>
                    </table>
                </td>
            </tr>
    
            <tr class="heading">
                <td>Order Summary</td>
    
                <td>Price</td>
            </tr>
    
            <% for (item of JSON.parse(draftOrder.order_line_items)){ %>
                <tr class="item">
                    <td>
                        <div>
                            <img class = "column one" src="<%= item.imageUrl %>" alt="">
                            <div class = "column three">
                                <%= item.name %>
                                Quantity: <%= item.quantity %>
                            </div>
                        </div>
                    </td>
        
                    <td>$<%= Number(item.price).toFixed(2) %></td>
                </tr>
            <% } %>
            <!-- <tr class="item">
                <td>
                    <div>
                        <img class = "column one" src="https://9r0rm5qu0xu76d9i-68286316831.shopifypreview.com/cdn/shop/files/AdeleChainBracelet.png?v=1706763561&width=50" alt="">
                        <div class = "column three">
                            Anushka Sharma Silver Heartlock Bracelet
                            Quantity: 1
                        </div>
                    </div>
                </td>
    
                <td>$69.00</td>
            </tr> -->
    
            <!-- <tr class="item last">
                <td>
                    <div>
                        <img class = "column one" src="https://9r0rm5qu0xu76d9i-68286316831.shopifypreview.com/cdn/shop/files/AdeleChainBracelet.png?v=1706763561&width=50" alt="">
                        <div class = "column three">
                            Rose Gold Bubble Bracelet 
                            Quantity: 1
                        </div>
                    </div>
                </td>
    
                <td>$117.00</td>
            </tr> -->
    
            <tr class="total">
                <td style = "width: 58vw; max-width: 840px;"></td>
    
                <td>
                    Subtotal: $<%= Number(draftOrder.subtotal_price).toFixed(2) %> <br>
                    Tax: $<%= Number(draftOrder.total_tax).toFixed(2) %> <br>
                    <span style = "font-weight: bold;">Total: $<%= Number(draftOrder.total_price).toFixed(2) %></span>
                </td>
            </tr>
        </table>
    </div>
    <div class = "columns three">
        <div class="card has-sections email-box">
            <div class="card-section">
                <h4 style = "margin-bottom: 0;">Send Invoice via Email</h4>
            </div>
            <form class = "card-section" action="/send-invoice-email" method = "post" enctype = "multipart/form-data">
                <div class="row">
                    <label for="customer-email">To:</label>
                    <input type="email" name="customer-email" id="customer-email">
                </div>
                <div class="row">
                    <label for="email-subject">Subject:</label>
                    <input type="text" name="email-subject" id="email-subject" value="Invoice <%= draftOrder.order_name %>">
                </div>
                <div class="row">
                    <label for="email-text-area">Custom Message:</label>
                    <input type="text" name="email-text-area" id="email-text-area" value="Thanks for your business!">
                </div>

                <div class="row">
                    <input type="submit" value="Send Invoice">
                </div>
            </form>
        </div>
    </div>
</section>

<script>
    const backToDashboard = function(){
        window.location.href = `/dashboard`
    }
</script>