<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico">
        <title>Manage order return</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/checkout/">
        <!-- Bootstrap core CSS -->
        <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom styles for this template -->
        <link href="https://getbootstrap.com/docs/4.0/examples/checkout/form-validation.css" rel="stylesheet">
    </head>
    <body class="bg-light">
        <div class="container" style="max-width: 1350px">
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                <h2>Manage order return</h2>
                <!-- <p class="lead">Below is an example form built entirely with Bootstrap's form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p> -->
            </div>
            <div class="row">
                <div class="col-md-12 order-md-2 mb-4">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Your Order Cart</span>
                        <span class="badge badge-secondary badge-pill"><%= orderDetails.line_items.length %></span>
                    </h4>
                    <input type="hidden" name="shopName" id="shopName" value="<%= query.shop %>">
                    <input type="hidden" name="appUrl" id="appUrl" value="<%= appURL %>">
                    <table class="table table-striped">
                        <thead>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th class="text-center">Action</th>
                        </thead>
                        <tbody>
                            <% if(locals.orderDetails) { %>
                                <% for(var i in orderDetails.line_items) { %>
                                <tr>
                                    <td>
                                        <div>
                                            <h6 class="my-0 p-2"><%= orderDetails.line_items[i].name %></h6>
                                            <small class="text-muted p-2"><u>SKU:</u> <%= orderDetails.line_items[i].sku %> </small>
                                            <br>
                                            <small class="text-muted p-2"><u>Vendor:</u> <%= orderDetails.line_items[i].vendor %></small>
                                        </div>
                                    </td>
                                    <td><%= orderDetails.line_items[i].quantity %></td>
                                    <td><%= orderDetails.currency %> <%= orderDetails.line_items[i].price %></td>
                                    <td class="text-center">
                                        <% if(exchangeItems != null && exchangeItems.hasOwnProperty(orderDetails.line_items[i].id) && exchangeItems[orderDetails.line_items[i].id]) { %>
                                            <a href="#" data-orderid="<%= orderDetails.id %>" data-lineitemid="<%= orderDetails.line_items[i].id %>" class="btn btn-primary btn-md exchangeItem" style="width:40%">Exchange Item</a>
                                        <% } else { %>
                                            <a href="javascript:void(0)" class="btn btn-dark btn-md">Exchange not available</a>
                                        <% } %>
                                        <% if(returnItems != null && returnItems.hasOwnProperty(orderDetails.line_items[i].id) && returnItems[orderDetails.line_items[i].id]) { %>
                                            <a href="#" class="btn btn-danger btn-md" style="width:40%">Return Item</a>
                                        <% } else { %>
                                            <a href="javascript:void(0)" class="btn btn-dark btn-md">Return not available</a>
                                        <% } %>
                                    </td>
                                </tr>
                            <% } } %>
                        </tbody>
                    </table>
                </div>
            </div>

            <%- include('./partials/exchangeModal') %>

            <footer class="my-5 pt-5 text-muted text-center text-small">
                <p class="mb-1">© 2017-2018 Company Name</p>
                <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Privacy</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Support</a></li>
                </ul>
            </footer>
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/popper.min.js"></script>
        <script src="https://getbootstrap.com/docs/4.0/dist/js/bootstrap.min.js"></script>
        <script src="https://getbootstrap.com/docs/4.0/assets/js/vendor/holder.min.js"></script>
        <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict';

            window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                }
                form.classList.add('was-validated');
                }, false);
            });
            }, false);
        })();
        </script>
        <script>
            $(document).ready(function () {
                $('.exchangeItem').click(function (e) {
                    e.preventDefault();
                    var el = $(this);
                    var shop = $('#shopName').val();
                    var orderId = el.data('orderid');
                    var lineItemId = el.data('lineitemid');

                    var getPayload = {
                        shop: shop,
                        orderId: orderId,
                        lineItemId: lineItemId
                    }

                    var appURL = $('#appUrl').val();

                    $.ajax({
                        type: 'GET',
                        url: appURL+'getExchangeData',
                        data: getPayload,
                        async: false,
                        headers: {
                            "Access-Control-Allow-Origin": '*'
                        },
                        success: function(response) {
                            if(response.status) {
                                $('#exchangeModal').find('.modal-body').html(response.html);
                                $('#exchangeModal').modal('show');
                                console.log(response);
                            }
                        }
                    })
                })
            });
        </script>

        <div id="modheader-shadow-root-host-el-id" style="display: initial !important;"></div>
    </body>
</html>