<section id = "drafts-content" class = "tab-content">
    <table class = "dashboard-table">
        <thead>
            <tr>
                <th>Order Name</th>
                <th>Date</th>
                <th>Customer</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Currency</th>
                <th>Reminders</th>
            </tr>
        </thead>
        
        <tbody>
            <% for (let draft of draftOrders) { %>
                <tr data-href="#" onclick = "openInvoiceTemplate(`<%= draft.id %>`)">
                    <td><%= draft.order_name %></td>
                    <td>DATE...</td>
                    <td><%= draft.customer.first_name %></td>
                    <td>$<%= draft.total_price %></td>
                    <td><%= draft.status.toLowerCase() %></td>
                    <td><%= draft.currency %></td>
                    <td>One</td>
                    
                </tr>
            <% } %>
        </tbody>
    </table>
</section>

<script>
    const openInvoiceTemplate = function(draftOrderId){
        window.location.href = `/invoice/${draftOrderId}`
    }
</script>