<!-- You Need to come back and add a functional empty state to this table -->

<section id = "drafts-content" class = "tab-content">
    <table class = "dashboard-table">
        <thead>
            <% if (draftOrders.length > 1) { %>
            <tr>
                <th>Draft Order</th>
                <th>Date</th>
                <th>Customer</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Currency</th>
                <th>Reminders</th>
            </tr>
            <% }  %>
        </thead>
        
        <tbody>
            <% if (draftOrders.length < 1) { %>
                <div class="columns" style = "margin-bottom: 2rem;">
                    <p class = "column twelve">No Draft Orders Found</p>
                    <p class = "column twelve">We haven't found any unpaid Draft Orders but in the meantime you can set up your reminders</p>
                </div>
            <% } else { %>
                <% for (let draft of draftOrders) { %>
                    <tr data-href="#" onclick = "openInvoiceTemplate(`<%= draft.id %>`)">
                        <td><%= draft.order_name %></td>
                        <td>DATE...</td>
                        <td><%= draft.customer.first_name %></td>
                        <td>$<%= draft.total_price %></td>
                        <td><%= draft.status.toLowerCase() %></td>
                        <td><%= draft.currency %></td>
                        <td>One</td>
                        
                    </tr>
                <% } %>
            <% } %>         
        </tbody>
    </table>
</section>

<script>
    const openInvoiceTemplate = function(draftOrderId){
        window.location.href = `/invoice/${draftOrderId}`
    }
</script>
