<section id = "orders-content" class = "tab-content">
    <table class = "dashboard-table">
        <thead>
            <tr>
                <th>Order</th>
                <th>Date</th>
                <th>Customer</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Currency</th>
                <th>Reminders</th>
            </tr>
        </thead>
        
        <tbody>
            <% for (let order of orders) { %>
                <tr data-href="#" onclick = "openInvoiceTemplate(`<%= order.id %>`)">
                    <td><%= order.order_name %></td>
                    <td>DATE...</td>
                    <td><%= order.customer.first_name %></td>
                    <td>$<%= order.total_price %></td>
                    <td>PENDING</td>
                    <td><%= order.currency %></td>
                    <td>One</td>
                    
                </tr>
            <% } %>
        </tbody>
    </table>
</section>